name: Release

on:
  push:
    tags:
      - '*'

jobs:
  build-docker-image:
    runs-on: ubuntu-latest
    permissions: write-all

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          sparse-checkout-cone-mode: false
          sparse-checkout: |
            .github/actions
            Dockerfile

      - uses: dawidd6/action-download-artifact@v11
        with:
          name: google-index-checker-linux-amd64
          path: bin
          workflow: ci.yaml
          workflow_conclusion: success
          commit: ${{ github.sha }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            samjuk/google-index-checker:latest
            samjuk/google-index-checker:${{ github.ref_name }}
            ghcr.io/samjuk/google-index-checker:latest
            ghcr.io/samjuk/google-index-checker:${{ github.ref_name }}

  create-release:
    needs: build-docker-image
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          sparse-checkout-cone-mode: false
          sparse-checkout: |
            CHANGELOG.md

      - uses: dawidd6/action-download-artifact@v11
        with:
          path: bin
          workflow: ci.yaml
          workflow_conclusion: success
          commit: ${{ github.sha }}
      
      - name: Update CHANGELOG
        id: changelog
        continue-on-error: true
        uses: requarks/changelog-action@v1
        with:
          token: ${{ github.token }}
          tag: ${{ github.ref_name }}

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2.3.3
        with:
          name: Release v${{ github.ref_name }}
          generate_release_notes: true
          append_body: true
          body: |
            ${{ steps.changelog.outputs.changes }}

            ## New Docker Images
            - `ghcr.io/samjuk/google-index-checker:latest`
            - `ghcr.io/samjuk/google-index-checker:${{ github.ref_name }}`
          files: |
            bin/google-index-checker
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit CHANGELOG.md
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          branch: master
          commit_message: 'docs: update CHANGELOG.md for ${{ github.ref_name }} [skip ci]'
          file_pattern: CHANGELOG.md
